<div>
    <%= flash[:notice] %>
</div>

<p><strong>Title:</strong>
<%= @book.title %>
</p>

<p><strong>Body:</strong>
<%= @book.body %>
</p>

<a><%= link_to "Edit", "/books/#{@book.id}/edit"%></a>
|
<a class="back" href="/books">Back</a>
